.Sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  max-width: 70%;
  height: 100%;
  z-index: 200;
  background-color: white;
  padding: 2rem 1rem;
  box-sizing: border-box;
  transition: transform 0.3s ease-out;

  &.Open {
    transform: translateX(0);
  }

  &.Close {
    transform: translateX(-100%);
  }

  @media (min-width: 500px) {
    display: none;
  }

  .Logo {
    height: 60px;
    margin-bottom: 1rem;
  }
}
