.Field {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;

  label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
  }

  input,
  textarea,
  select {
    display: block;
    width: 100%;
    padding: 6px 10px;
    outline: none;
    box-sizing: border-box;
    border-radius: 0;
    border: 1px solid #227799;
    color: #227799;
    background-color: white;
    font: inherit;

    &.Invalid {
      background-color: rgb(248, 167, 158);
      border: 1px solid red;
    }

    &:focus {
      outline: none;
      background-color: #227799;
      color: white;
      &.Invalid {
        background-color: rgb(248, 167, 158);
        border: 1px solid red;
      }
      &::placeholder {
        color: white;
      }
    }
  }
}
