.Button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
  background-color: #227799;
  color: white;
}
.Button:disabled {
  cursor: not-allowed;
  color: #555;
  background-color: #ccc;
}

.Success {
  background-color: #5c9210;
}

.Danger {
  background-color: #944317;
}
