.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  height: 56px;
  width: 100%;
  position: fixed;
  z-index: 90;
  top: 0;
  left: 0;
  background-color: #227799;
  color: white;

  .Logo {
    height: 80%;
  }
}

@media (max-width: 499px) {
  .DesktopOnly {
    display: none;
  }
}
