.NavigationItem {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: 10px 0;

  a {
    display: block;
    width: 100%;
    box-sizing: border-box;
    text-decoration: none;
    color: #227799;

    &:hover,
    &:active,
    &.active {
      color: #de0339;
    }
  }

  @media (min-width: 500px) {
    display: flex;
    align-items: center;
    height: 100%;
    width: auto;
    margin: 0;

    a {
      height: 100%;
      padding: 1rem 10px;
      border-bottom: 4px solid transparent;
      color: white !important;

      &:hover,
      &:active,
      &.active {
        border-bottom: 4px solid #de0339;
        color: #de0339;
      }
    }
  }
}
